@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
  color:white;
}

.app{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem ;
}
#test{
    color: blue;
}

.logo{
  font-family: 'Mogra', cursive;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
.content_title{
  font-weight: 700;
  font-size:50px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Mogra', cursive ;
}
.content_discription{
  font-weight: 400;
  font-size:20px;
  opacity: 0.9;
  margin-bottom: 4rem;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form_input{
  max-width: 500px;
  min-width: 300px;
  height: 38px;
  outline:none;
  border: none;
  text-indent: 10px;
  font-size: 16x;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.form .form_button{
  width: 100px;
  height: 30px;
  background-color: #4158B0;
  border: none;
  outline: none;
  color: white;
  margin-bottom: 3rem;
}
.download_btn{
  color: red;
}

@media screen and (max-width: 600px) {

  .content{
    margin-top:10rem;
  }
  .content_title{
    font-size:40px ;
  }
}
